[color]
  ui = true
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold
[core]
  editor = nvim
#  page = nvim -R
[alias]
  patch = !git --no-pager diff --no-color
[init]
  defaultBranch = main
[advice]
  addIgnoredFile = false
[push]
  autoSetupRemote = true
[pull]
  ff = only

# Signing commits & user
[user]
  email = git@niels.fr
  name = Niels Robin-Aubertin
  signingkey = ~/data/secrets/ssh/niels
[commit]
  gpgsign = true
[gpg]
  format = ssh
[url "git+ssh://nrobinaubertin@git.launchpad.net/"]
  insteadof = lp:

# Diff viewing
# https://github.com/dandavison/delta
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    syntax-theme = gruvbox-light
    # File
    file-style = bold
    file-added-label = [+]
    file-copied-label = [==]
    file-modified-label = [*]
    file-removed-label = [-]
    file-renamed-label = [->]
    # No hunk headers
    hunk-header-style = omit
    # Line numbers
    line-numbers = true
    line-numbers-left-format = " {nm:>3} │"
    line-numbers-right-format = " {np:>3} │"
    # Commit hash
    commit-decoration-style = normal box
    commit-style = bold
    # Blame
    blame-code-style = syntax
    blame-format = "{author:>18} ({commit:>8}) {timestamp:<13} "
[diff]
    colorMoved = default
    algorithm = histogram
    indentHeuristic = 1
    colorMoved = dimmed-zebra
[difftool]
  prompt = false

# Merge conflicts handling
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
